#about {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: cente
}

#about ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9rem;
  text-align: center;
}

#about .um {
  display: flex;
  border: 2px solid white;
  align-items: center;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-left: 0%;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 40px;
  letter-spacing: 5px;
  box-shadow: 0 20px 20px black;
}

#about .un {
  font-size: 30px;
  color: white;
  border: 2px solid white;
  padding: 4px 8px;
  border-radius: 8px;
  box-shadow: 0 20px 10px black;
}

#about .boxx {
  height: auto;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  margin-top: 22rem;
}

.p7 {
  height: 100%;
  width: 100%;
  background: url(/img/neer.jpg) no-repeat center;
  position: absolute;
  background-size: 100% 100%;
  bottom: 0;
  border-radius: 10px;
  transition: 1s;
}

.p8 {
  height: 100%;
  width: 100%;
  background: url(/img/simple.jpg) no-repeat center;
  position: absolute;
  background-size: 130% 100%;
  bottom: 0;
  border-radius: 10px;
  transition: 1s;
}

.p9 {

  height: 100%;
  width: 100%;
  background: url(/img/dethg.jpg) no-repeat center;
  position: absolute;
  background-size: 100% 100%;
  bottom: 0;
  border-radius: 10px;
  transition: 1s;
}

.rolee {
  font-size: 20px;
  position: absolute;
  top: 155px;
}

.divi {
  background: white;
  height: 2.5px;
  width: 50%;
  position: absolute;
  top: 185px;
}

.base {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  height: 10rem;
}

.base .nm {
  color: white;
  font-size: 30px;
  margin-left: 10;
  display: flex;
  justify-content: center;
  border: 2px solid #FFFFFFA3;
  margin-bottom: 60px;
  padding: 5px 5px;
  border-radius: 8px;
  letter-spacing: 3px;
  box-shadow: 0 20px 20px black;
}

.base li {
  
  color: white;
  font-size: 20px;
  padding: 10px 0;
  text-align: center
}





.partner {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 70vh;
}

.partner p {
  color: white;
  font-size: 30px;
  bottom: 60px;
  margin-left: 10;
  display: flex;
  justify-content: center;
  border: 2px solid #FFFFFFA3;
 padding: 5px;
 border-radius: 8px;
 margin-bottom: 60px;
 box-shadow: 0 20px 20px black;
}

.partner li {
  color: white;
  font-size: 20px;
  padding: 10px 0;
  padding: 10px;
}

.partner li a {
  color: wheat;
}
.footer{
  bottom: 1px solid black;
  background: black;

  margin-top: 90vh ;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
}
.footer li{
  color: #FFF;
  padding: 40px 0;
  
}
.footer .x{
  font-size: 20px;
  letter-spacing: 5px;
}
.footer .c{
  border: 2px solid #FFF;
  width: 100vw;
  padding: 15px 0;
  text-align: center;
}
