*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
body{
  background: 	#28282B;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 0px 10vw;
  width: 100%;
  align-items: center;
  height: 75px;
  background: #00000063;
  z-index: 100000;
  position: fixed;
  box-shadow: 0 20px 80px #000000;
}
.logo{
  font-size: 40px;
  color: wheat;
}
.nav .item {
  display: flex;
  flex-direction: row;
}
.nav .item li{
  padding-left: 20px ;
}
.nav .item li a{
  font: 50px;
  font-weight: 600;
  color: wheat;
}
.nav .item li a:hover{
  background: wheat;
  color: black;
  padding: 5px 8px;
  border: 1px solid wheat;
  border-radius: 20px;
  transform: translateY(-10px);
  transition: .5s;
}
#home{
  display: flex;
  background: url(/img/home.jpg) no-repeat center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  background-size: cover;
}
#home .s{
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 95vh;
  font-size: 30px;
  letter-spacing: 5px;
}
